.row {
  transition: var(--transition);
}
.row:nth-child(2n + 1) {
  background-color: var(--blueColor);
}
.row:nth-child(2n) {
  background-color: var(--bgColor);
}

.row:hover,
.row:focus {
  transform: scale(1.03);
}
.cell {
  padding: 10px 0;
  border-radius: 10px;
  border: solid var(--darkVioletColor) 2px;
  text-align: center;
  color: var(--textColor);
}
